/*
=============== 
Fonts
===============
*/

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

/*
=============== 
Variables
===============
*/

:root {
    --clr-white: #fff;
    --clr-black: #222;
    --ff-primary: 'Playfair Display', sans-serif;
    --ff-secondary: 'Great Vibes', sans-serif;
    --transition: all 0.3s linear;
    --clr-primary: hsl(200, 34%, 49%);
    --clr-secondary: hsl(182, 63%, 54%);
    --clr-grey-1: hsl(209, 61%, 16%);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    --max-width: 1170px;
    --fixed-width: 620px;
    --spacing: 0.25rem;
    --radius: 0.5rem;
}


/*
===================== 
    Global Styles
=====================
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-family: var(--ff-primary);
}

html {
    scroll-behavior: smooth;
    display: block;
}

body {
    background: var(--clr-grey-1);
}

.container {
    display: flex;
    justify-content: center;
    place-items: center;
    height: 80vh;
    font-size: 4rem;
    margin-bottom: 0.75rem;
    position: absolute;
    margin: auto;
    width: 100%;
}

p {
    font-size: 1.5rem;
    text-transform: capitalize;
}

h1 {
    font-size: 2rem;
    text-transform: capitalize;
}

h2 {
    font-size: 1.5rem;
    font-family: var(--ff-secondary);
}

h3 {
    font-size: 1rem;
    color: var(--clr-white);
}

@media screen and (min-width: 800px) {
    p {
        font-size: 3rem;
    }
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
        font-family: var(--ff-secondary);
    }
    h3 {
        font-size: 2rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3 {
        line-height: 1;
    }
}


/*  global classes */

.btn {
    text-transform: capitalize;
    background: transparent;
    color: var(--clr-white);
    padding: 0.375rem 0.75rem .5rem .5rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid var(--clr-white);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
}

.btn:hover {
    color: var(--clr-white);
    background: var(--clr-secondary);
}

.btn-white {
    color: var(--clr-white);
    border-color: var(--clr-white);
    border-radius: 0;
    padding: 0.5rem 1rem;
}

.btn:hover {
    background: var(--clr-white);
    color: var(--clr-secondary);
}


/* section */

@media screen and (min-width: 992px) {
    .section-center {
        width: 95vw;
    }
}

main {
    min-height: 80vh;
    display: grid;
    place-items: center;
    margin-top: 30px;
}

.section {
    padding-bottom: 5rem;
    margin: 0;
}

#date-banner {
    width: 100%;
}


/*
=============== 
    Scroll
===============
*/


/* nav bar */

.scroll-links {
    font-family: var(--ff-primary);
}

nav {
    padding: 1rem 1.5rem;
    background: transparent;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav .links a {
    color: var(--clr-grey-1);
}

.nav .links a:hover {
    color: var(--clr-secondary);
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-toggle {
    font-size: 1.5rem;
    color: var(--clr-white);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
}

.nav-toggle:hover {
    color: var(--clr-secondary);
}

.logo {
    font-family: var(--ff-primary);
    height: 50px;
}

.links-container {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.show-links {
    height: 200px;
}

.links a {
    color: var(--clr-white);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    font-weight: bold;
    padding: 0.5rem 0;
}

.links a:hover {
    background: var(--clr-secondary);
}

@media screen and (min-width: 800px) {
    nav {
        background: transparent;
    }
    #nav-center {
        width: 90vw;
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-header {
        padding: 0;
    }
    .nav-toggle {
        display: none;
    }
    .links-container {
        height: auto !important;
    }
    .links {
        display: flex;
    }
    .links a {
        background: transparent;
        color: var(--clr-white);
        font-size: 1.1rem;
        text-transform: capitalize;
        letter-spacing: var(--spacing);
        display: block;
        transition: var(--transition);
        margin: 0 1rem;
        font-weight: bold;
        padding: 0;
    }
    .links a:hover {
        color: var(--clr-white);
    }
}


/* hero */

header {
    object-fit: cover;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    min-height: 80vh;
    background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)), url(jonathan-borba-wil2YVMBIWo-unsplash.jpg) center/cover no-repeat;
}

#banner {
    min-height: 80vh;
    display: inline;
    place-items: center;
    text-align: center;
}

.container {
    display: inline;
    top: 20%;
}

.container,
h1,
p {
    font-family: var(--ff-secondary);
    color: var(--clr-white);
    margin: auto;
}

.container h1 {
    color: var(--clr-white);
}

.container p {
    color: var(--clr-white);
    max-width: 25rem;
    margin: 0 auto;
    margin-bottom: 1.25rem;
    text-transform: capitalize;
}

@media screen and (min-width: 768px) {
    .container p {
        max-width: 40rem;
    }
    .container {
        top: 40;
    }
}


/* sections and title */

.title h2 {
    text-align: center;
    text-transform: capitalize;
    color: var(--clr-white);
    font-size: 1.5rem;
}

.save-date {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
    top: 40%;
}

.save-date p {
    font-size: 2rem;
}

.registry {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
    top: 50%;
}

#save-date,
#registry {
    height: 80vh;
    padding: 4rem;
}

#save-date {
    background: var(--clr-grey-1);
}

#registry {
    background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)), url(shardayyy-photography-fJzmPe-a0eU-unsplash.jpg) center/cover no-repeat;
}

footer {
    background: var(--clr-grey-1);
    padding: 5rem 1rem;
}

footer p {
    font-size: 1rem;
    color: var(--clr-white);
    text-align: center;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    margin-bottom: 0;
}